<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
		 "-//mybatis.org//DTD Mapper 3.0//EN"
		  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.repository.CampingDAO">
	<select id="selectList" resultType="camping" parameterType="int">
		select c.camping_idx, c.facltNm, c.featurenm, c.intro, c.lineintro, c.tel, c.lctcl, c.addr1, c.camping_viewcount, ci.sbrscl, cimg.first_img 
    		from camping c 
    			join camping_internal ci on c.camping_idx = ci.camping_idx 
    			join camping_img cimg on c.camping_idx = cimg.camping_idx
    		where cimg.first_img is not null 
    		offset ${pageNo} rows fetch next 10 rows only
	</select>
	<select id="selectList1" resultType="camping" parameterType="hashmap">
		select c.camping_idx, c.facltNm, c.featurenm, c.intro, c.lineintro, c.tel, c.lctcl, c.addr1, c.camping_viewcount, ci.sbrscl, cimg.first_img 
    		from camping c 
    			join camping_internal ci on c.camping_idx = ci.camping_idx 
    			join camping_img cimg on c.camping_idx = cimg.camping_idx
    		where cimg.first_img is not null 
    		offset #{paging.offset} rows fetch next #{paging.perPage} rows only
	</select>
	<select id="selectCnt" resultType="int">
		select max(camping_idx) from camping
	</select>
</mapper>