<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN" 
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.repository.UserDAO">
	<insert id="user_join" parameterType="user">
		insert into user_table (userid, userpw, username, phone, role, email, salt) 
			values (#{userid}, #{userpw}, #{username}, #{phone}, #{role}, #{email}, #{salt})
	</insert>
	
	<insert id="bizr_join" parameterType="user">
		insert into bizr_table (userid, userpw, username, phone,  email, salt, bizrno) 
			values (#{userid}, #{userpw}, #{username}, #{phone},  #{email}, #{salt}, #{bizrno})
	</insert>
	
	<select id="checkLogin" resultType="user">
		select * from user_table where userid = #{userid}
	</select>
</mapper>



