<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
		 "-//mybatis.org//DTD Mapper 3.0//EN"
		  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.repository.BoardDAO">

	<select id="selectReviewList" resultType="review">
		SELECT
		    r.*,
		    u.USERID,
		    c.FACLTNM,
		    (
		        SELECT COUNT(*) 
		        FROM review_like rl
		        WHERE rl.REVIEW_IDX = r.REVIEW_IDX
		    ) AS REVIEW_LIKE_COUNT
			FROM review r
			JOIN user_table u ON r.USER_IDX = u.USER_IDX
			JOIN camping c ON r.CAMPING_IDX = c.CAMPING_IDX
			ORDER BY r.REVIEW_IDX DESC
	</select>
	
	<insert id="insertReview" parameterType="review">
		insert into review
			(user_idx, camping_idx, review_title, review_content<if test="review_img != null">, review_img</if>)
			values
			(#{user_idx}, (select camping_idx from camping where facltnm = #{facltnm}), #{review_title}, #{review_content}<if test="review_img != null">, #{review_img}</if>)
	</insert>
	
	<select id="selectReviewOne" parameterType="int" resultType="review">
		SELECT
		    r.*,
		    u.USERID,
		    c.FACLTNM,
		    (
		        SELECT COUNT(*) 
		        FROM review_like rl
		        WHERE rl.REVIEW_IDX = r.REVIEW_IDX
		    ) AS REVIEW_LIKE_COUNT
			FROM review r
			JOIN user_table u ON r.USER_IDX = u.USER_IDX
			JOIN camping c ON r.CAMPING_IDX = c.CAMPING_IDX
			WHERE r.review_idx = #{review_idx}
	</select>
	
	<select id="selectSearchCamping" parameterType="String" resultType="review">
		select
		    R.*,
		    U.userid,
		    NVL(LIKE_COUNT, 0) as like_count
		    from review R
		    join user_table U on R.user_idx = U.user_idx
		    left join (
		        select review_idx, count(*) as LIKE_COUNT
		        from review_like RL
		        group by review_idx
		    ) RL on R.review_idx = RL.review_idx
		    where R. like '%'||#{keyword}||'%'
		    order by R.review_idx desc
	</select>
	
	<select id="selectSearchTitle" parameterType="String" resultType="review">
		select
		    r.*,
		    u.userid,
		    NVL(LIKE_COUNT, 0) as like_count
		    from review r
		    join user_table u on r.user_idx = u.user_idx
		    left join (
		        select review_idx, count(*) as like_count
		        from review_like rl
		        group by review_idx
		    ) rl on r.review_idx = rl.review_idx
		    where r.review_title like '%'||#{keyword}||'%'
		    order by r.review_idx desc
	</select>
	
	<select id="selectSearchWriter" parameterType="String" resultType="review">
		select
		    R.*,
		    U.userid,
		    NVL(LIKE_COUNT, 0) as like_count
		    from review R
		    join user_table U on R.user_idx = U.user_idx
		    left join (
		        select review_idx, count(*) as LIKE_COUNT
		        from review_like RL
		        group by review_idx
		    ) RL on R.review_idx = RL.review_idx
		    where U.userid like '%'||#{keyword}||'%'
		    order by R.review_idx desc
	</select>
	
	<select id="selectReviewImg" parameterType="int" resultType="String">
		select review_img from review where review_idx = #{review_idx}
	</select>
	
	<delete id="reviewDelete" parameterType="int">
		delete review where review_idx = #{review_idx}
	</delete>
	
	<update id="reviewModify" parameterType="review">
		update review
			set 
				user_idx = #{user_idx},
				camping_idx = (select camping_idx from camping where facltnm = #{facltnm}),
				review_title = #{review_title},
				review_content = #{review_content}
				<if test="review_img != null">, review_img = #{review_img}</if>
			where review_idx = #{review_idx}
	</update>
	
	<select id="selectFreeList" resultType="free">
		SELECT
		    f.*,
		    u.USERID,
		    fr.REPLY_WDATE,
		    fr.REPLY_CONTENT
		FROM
		    free_table f
		JOIN
		    user_table u ON f.USER_IDX = u.USER_IDX
		LEFT JOIN
		    free_reply fr ON f.FREE_TABLE_IDX = fr.FREE_TABLE_IDX
		ORDER BY
		    f.free_table_idx desc
	</select>
	
	<insert id="insertFree" parameterType="free">
		insert into free_table
		(user_idx, free_title, free_content<if test="free_img != null">, free_img</if>)
		values
		(#{user_idx}, #{free_title}, #{free_content}<if test="free_img != null">, #{free_img}</if>)
	</insert>
	
	<select id="selectFreeOne" resultType="free">
		SELECT
		    f.*,
		    u.USERID,
		    fr.REPLY_WDATE,
		    fr.REPLY_CONTENT
		FROM
		    free_table f
		JOIN
		    user_table u ON f.USER_IDX = u.USER_IDX
		LEFT JOIN
		    free_reply fr ON f.FREE_TABLE_IDX = fr.FREE_TABLE_IDX
		WHERE
			f.free_table_idx = #{free_table_idx}
	</select>
	
	<select id="selectFreeImg" parameterType="int" resultType="String">
		select free_img from free_table where free_table_idx = #{free_table_idx}
	</select>
	
	<delete id="freeDelete" parameterType="int">
		delete free_table where free_table_idx = #{free_table_idx}
	</delete>
	
	<update id="freeModify" parameterType="free">
		update free_table
			set 
				user_idx = #{user_idx},
				free_title = #{free_title},
				free_content = #{free_content}
				<if test="free_img != null">, free_img = #{free_img}</if>
			where free_table_idx = #{free_table_idx}
	</update>
	
</mapper>