<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
		 "-//mybatis.org//DTD Mapper 3.0//EN"
		  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.repository.CampingDAO">
	
	<select id="selectList" resultType="camping" parameterType="hashmap">
		select c.camping_idx, c.facltNm, c.featurenm, c.intro, c.lineintro, c.tel, c.lctcl, c.addr1, c.camping_viewcount, ci.sbrscl, cimg.first_img   
    		from camping c 
    			join camping_internal ci on c.camping_idx = ci.camping_idx 
    			join camping_img cimg on c.camping_idx = cimg.camping_idx
    		where cimg.first_img is not null 
    		<if test="keyword != null">
	    		and c.facltNm like '%${keyword}%' 
    		</if>
    		<if test="induty != null">
    			and c.induty like '%${induty}%'
    		</if>
    		<if test="lctcl != null">
    			and c.lctcl = #{lctcl}
    		</if>
    		<if test="firstSelect != null">
				and c.doNm = #{firstSelect}
				<if test='secondSelect != "전체"'>
					and c.sigunguNm = #{secondSelect}
				</if>
			</if>
			order by c.camping_idx 
    		offset #{paging.offset} rows fetch next #{paging.perPage} rows only
	</select>
	 
	<select id="selectCnt" resultType="int">
		select max(camping_idx) from camping
	</select>
	
	<select id="selectOne" parameterType="int" resultType="camping">
	 	select c.*, ac.*, inter.*, intro.*, safe.*, img.first_img
   			from camping c
    		join camping_activity ac on c.camping_idx = ac.camping_idx
    		join camping_internal inter on c.camping_idx = inter.camping_idx
    		join camping_introduce intro on c.camping_idx = intro.camping_idx
    		join camping_safety_device safe on c.camping_idx = safe.camping_idx
    		join camping_img img on c.camping_idx = img.camping_idx
    		where c.camping_idx = #{camping_idx}
    		and img.first_img is not null
	</select>
	
	<select id="selectOneImage" resultType="camping" parameterType="int">
		    select c.camping_idx, img.inner_img
        		from camping c
       			join camping_img img
        		on c.camping_idx = img.camping_idx
        		where c.camping_idx = #{camping_idx}
        		and img.inner_img is not null
	</select>
	
	<update id="plusCamping_viewCount" parameterType="int">
			UPDATE camping set camping_viewcount = camping_viewcount + 1 where camping_idx = #{camping_idx}
	</update>
	
	<select id="selectKeywordCnt" parameterType="string" resultType="int">
		select count(*) from camping where camping_idx >= 1
		<if test="keyword != null">
			and facltNm like '%${keyword}%' 
		</if>
		<if test="induty != null">
			and induty like '%${induty}%'
		</if>
		<if test="lctcl != null">
			and lctcl = #{lctcl}
		</if>
		<if test='firstSelect != null'>
			and doNm = #{firstSelect}
			<if test='secondSelect != "전체"'>
				and sigunguNm = #{secondSelect}
			</if>
		</if>
	</select>
	
	<select id="selectMapY" parameterType="int" resultType="double">
		select mapY from camping_place where camping_idx = #{camping_idx}
	</select>
	
	<select id="selectMapX" parameterType="int" resultType="double">
		select mapX from camping_place where camping_idx = #{camping_idx}
	</select>
	
	<select id="selectAreaCode" parameterType="int" resultType="String">
		select a.areaCode
			from areacode a
			join camping c on c.addr1 like '%' || a.areaNm || '%'
			where camping_idx = #{camping_idx}
	</select>
	
	<select id="selectFacltnmList" resultType="String">
		select facltnm from camping
	</select>
</mapper>